# =========================
# Dependencies
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# Build outputs
# =========================
dist/
build/
.next/
out/
coverage/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/
*.swp

# =========================
# Cache files
# =========================
.cache/
.eslintcache
.turbo/
.vercel/

# =========================
# Testing
# =========================
cypress/screenshots/
cypress/videos/

# =========================
# Misc
# =========================
*.log
*.pid
